
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
    }

    table {
        width: 100%;
        border-right-color: #ffffff;
        font-size: 14px;
        /* /* border: 1px solid #343a40; */
        border-collapse: collapse;
    }

    th, td {
        /* border: 1px solid #343a40; */
        padding: 6px 8px;
        text-align: left;
    }

    h2 {
        padding: 6px 8px;
    }

    th {
        background-color: #087f5b;
        color: #fff;
        width: 25%;
    }

    tbody tr:nth-child(odd) {
        background-color: #f8f9fa;
    }


    tbody tr:nth-child(even) {
        background-color: #e9ecef;
    }
</style>  