@page "/authenticate"
@layout LoginLayout

<PageTitle>Login</PageTitle>



<div id="authenticate">

	<div class="container pt-5">
		<img id="logo" src="img/erbert-logo.png" class="rounded mx-auto d-block" alt="CleanUp">
		<h1 class="text-center my-5">Benvenuto nel nostro portale B2B.</h1>
	
		<EditForm Model="loginModel" OnValidSubmit="SubmitLogin">
			<DataAnnotationsValidator />
			<div class="mb-4">
				<InputText @bind-Value="loginModel.Email" class="form-control" placeholder="Email"></InputText>
				<ValidationMessage For="@(() => loginModel.Email)" />
			</div>
			<div class="mb-4">
				<InputText @bind-Value="loginModel.Password" type="password" class="form-control" placeholder="Password"></InputText>
				<ValidationMessage For="@(() => loginModel.Password)" />
			</div>
			<p class="text-start"><a href="/password-recovery">Hai dimenticato la password?</a></p>

			<p class="text-center">@loginValidationMessage</p>

			<div class="my-5 text-center">
				<button type="submit" class="btn btn-primary mt-5 @(loading ? "disabled" : string.Empty)">ACCEDI</button>
			</div>
		</EditForm>
	</div>
	
</div>
