@page "/password-recovery"
@layout LoginLayout

<PageTitle>Recupera password</PageTitle>



<div id="password-recovery">

	<div class="container pt-5">
		<img id="logo" src="img/erbert-logo.png" class="rounded mx-auto d-block" alt="CleanUp">
		
		@if (!sent)
		{
			<p class="text-center my-5">Gentile cliente, <br/>la preghiamo di indicare il nome utente.<br />Le verrà inviata una email che le permetterà di impostare una nuova password.</p>
			<EditForm Model="passwordRecoveryModel" OnValidSubmit="Submit">
				<DataAnnotationsValidator />
				<div class="mb-4">
					<InputText @bind-Value="passwordRecoveryModel.Email" class="form-control" placeholder="Email"></InputText>
					<ValidationMessage For="@(() => passwordRecoveryModel.Email)" />
				</div>

				<p class="text-center">@loginValidationMessage</p>

				<div class="my-5 text-center">
					<button type="submit" class="btn btn-primary mt-5 @(loading ? "disabled" : string.Empty)">CONFERMA</button>
				</div>
			</EditForm>
		}
		else
		{
			<p class="text-center my-5">Gentile cliente, <br/>abbiamo inviato una mail al suo contatto con le procedure necessarie per reimpostare la sua password.</p>
			<p class="text-center my-5">Non hai ricevuto la mail?<br/><a href="#" @onclick="Submit" @onclick:preventDefault>Clicca qui per il rinvio</a></p>
		}
	</div>
	
</div>
