@page "/home"
@page "/"

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                @*<img src="https://www.CleanUp.it/img/logo_white.svg" style="width: 250px; height: 250px;" />*@
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h2">CleanUp</MudText>
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">Portale</MudText>
        </MudItem>

        <div style="margin:50px"></div>
    </MudGrid>
</MudContainer>