/* /Shared/LoginLayout.razor.rz.scp.css */
.page[b-jwlaxg7j25] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jwlaxg7j25] {
    flex: 1;
}

.sidebar[b-jwlaxg7j25] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jwlaxg7j25] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jwlaxg7j25]  a, .top-row[b-jwlaxg7j25]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jwlaxg7j25]  a:hover, .top-row[b-jwlaxg7j25]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jwlaxg7j25]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jwlaxg7j25] {
        display: none;
    }

    .top-row.auth[b-jwlaxg7j25] {
        justify-content: space-between;
    }

    .top-row[b-jwlaxg7j25]  a, .top-row[b-jwlaxg7j25]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jwlaxg7j25] {
        flex-direction: row;
    }

    .sidebar[b-jwlaxg7j25] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jwlaxg7j25] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jwlaxg7j25]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jwlaxg7j25], article[b-jwlaxg7j25] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-revcdz0nk6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-revcdz0nk6] {
    flex: 1;
}

.sidebar[b-revcdz0nk6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-revcdz0nk6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-revcdz0nk6]  a, .top-row[b-revcdz0nk6]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-revcdz0nk6]  a:hover, .top-row[b-revcdz0nk6]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-revcdz0nk6]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-revcdz0nk6] {
        display: none;
    }

    .top-row.auth[b-revcdz0nk6] {
        justify-content: space-between;
    }

    .top-row[b-revcdz0nk6]  a, .top-row[b-revcdz0nk6]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-revcdz0nk6] {
        flex-direction: row;
    }

    .sidebar[b-revcdz0nk6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-revcdz0nk6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-revcdz0nk6]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-revcdz0nk6], article[b-revcdz0nk6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#content[b-revcdz0nk6] {
    margin-top: 50px;
}
